body {
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: #333;

}

/* Style the topnav links */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}



/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 0px;
    top: 16px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

.photo {
    background-image: url(../img/photo.jpg);
    height: 300px;
    width: 300px;
    background-size: cover;
}

.img {

    height: 200px;
    width: 200px;
    background-size: cover;
    background-position-y: center;
    border-radius: 10px;
    display: inline-block;
}

figure {
    margin: unset;
    display: inline-block;
}



#bear {
    background-image: url(../img/bear.jpg);
}

#dragon {
    background-image: url(../img/dragon.jpg);
}

#lion {
    background-image: url(../img/lion.jpg);
}

#rose {
    background-image: url(../img/rose.jpg);
}
